.root-container {
    /*
    Main container, contains root-right and root-content
     */
    display: flex;
    height: 100vh; /* Set the container to full height */
    flex-direction: column;
}

.root-content-container {
    flex-grow: 1; /* Allow the container to grow and fill the remaining vertical space */
    display: flex;
    position: relative;
}

.root-right {
    /*
    Navbar on the right side, vertical
     */
    overflow-y: auto; /* Enable vertical scrolling for the navbar */
    flex-shrink: 0; /* Prevent the navbar from shrinking */

}

.root-content {
    /*
    Content container, fills the rest of the space on the left
    Contains <Outlet>
     */
    flex-grow: 1;
    overflow-y: auto;

}

.announcement-banner {
    /*
    Banner at the top of the page,
    above both the navbar and the content
     */
    color: var(--banner-text-color);
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    background: var(--banner-color-primary) repeating-linear-gradient(45deg, var(--banner-color-secondary), var(--banner-color-secondary) 12px, var(--banner-color-primary) 5px, var(--banner-color-primary) 25px);
}
